<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipies Home Page</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>.
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <h2>List of recipies</h2>
    <ul>
        <li><a href="/crabcake">Crabcakes</a></li>
        <li><a href="/pancakes">Pancakes</a></li>
        <li><a href="/veggiepestopasta">Veggie Pesto Pasta</a></li>
        <li><a href="/roastedchicken">Roasted Chicken</a></li>
        <li><a href="/waffles">Waffles</a></li>
    </ul>
</body>
</html>