<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roasted Chicken Recipe</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav>
    <a href="/">Home</a>
</nav>
<div class="container">
    <img src="https://res.cloudinary.com/dn5oij7hb/image/upload/v1557425204/Garlic-Herb-Butter-Roast-Chicken-1.jpg"
         alt="Picture of a Roast Chicken" width="420"/>
    <h1>Roasted Chicken</h1>
    <span><strong>Cook: </strong>1hr 15min | <strong>total: </strong>1hr 40 mins</span>
    <h2>Ingredients</h2>
    <ul>
        <li>1(3Pound) whole chicken, giblets removed</li>
        <li>salt and black pepper to taste</li>
        <li>1 tablespoon onion powder, or to taste</li>
        <li>1/2 cup margarine, divided</li>
        <li>1 stalk celery, leabes removed</li>
    </ul>
    <h2>Directions</h2>
    <ol>
        <li><p>Preheat over to 350 dgrees F(175 degrees C.)</p></li>
        <li><p>Place chicken in a roasting pan, and season generously inside and out with salt and pepper.
            Sprinkle inside and out with onion powder. Place 3 tablespoons margarine in the chicken cavity.
            Arrange dollops of the remaining margarine around the chicken's exterior. Cut the celery into
            3 or 4 pieces, and place in the chicken cavity.</p></li>
        <li><p>Bake uncovered 1 hour and 15 minutes in the preheated oven, to a minimum internal temperature of
            180 degrees F (82 degrees C). Remove from heat, and baste with melted margarine and drippings.
            Cover with aluminum foil, and allow to rest about 30 minutes before serving.</p></li>
    </ol>
    <a href="https://www.allrecipes.com/recipe/83557/juicy-roasted-chicken/">Source of recipe</a>
    <h2>Other recipies</h2>
    <footer>
        <ul class="row">
            <li class="col-md-3 "><p><img src="https://res.cloudinary.com/dn5oij7hb/image/upload/v1557347242/crabcakes-main.jpg" alt="Picture of a waffle" height="250px" width="250px"/><a href="/crabcake">Crabcakes</a></p></li>
            <li class="col-md-3 "><p><img src="https://res.cloudinary.com/dn5oij7hb/image/upload/v1557411942/Perfect-Pancakes.jpg" alt="Picture of a waffle"
                                                       height="250px" width="250px"/><a href="/pancakes">Pancakes</a></p></li>
            <li class="col-md-3 "><p><img src="https://res.cloudinary.com/dn5oij7hb/image/upload/v1557416777/summer-vegetable-pesto-pasta.jpg" alt="Picture of a waffle"
                                                       height="250px" width="250px"/><a href="/veggiepestopasta">Veggie Pesto Pasta</a></p></li>
            <li class="col-md-3 "><p><img src="https://res.cloudinary.com/dn5oij7hb/image/upload/v1557425340/waffles.jpg" alt="Picture of a waffle"
                     height="250px" width="250px"/><a href="/waffles">Waffles</a></p></li>
        </ul>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>