<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waffles Recipe</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>.
</head>
<body>
<nav>
    <a href="/">Home</a>
</nav>
<div>
    <h1>Waffles</h1>
    <img src="https://res.cloudinary.com/dn5oij7hb/image/upload/v1557425340/waffles.jpg" alt="Picture of a waffle"
         width="420"/>
    <br>
    <span><strong>Cook: </strong>15 min | <strong>total: </strong>20 mins</span>
    <h2>Ingredients</h2>
    <ul>
        <li>2 Eggs</li>
        <li>2 cups all-purpose flour</li>
        <li>1 3/4 cups of milk</li>
        <li>1/2 cup vegetable oil</li>
        <li>1 tablespoon white sugar</li>
        <li>4 teaspoons baking powder</li>
        <li>1/4 teaspoon salt</li>
        <li>1/2 teaspoon vanilla extract</li>
    </ul>
    <h2>Directions</h2>
    <ol>
        <li><p>Preheat waffle iron. Beat eggs in large bowl with hand beater until fluffy.
            Beat in flour, milk, vegetable oil, sugar, baking powder, salt and vanilla, just until smooth.</p></li>
        <li><p>Spray preheated waffle iron with non-stick cooking spray.
            Pour mix onto hot waffle iron. Cook until golden brown. Serve hot.</p></li>
    </ol>
    <a href="https://www.allrecipes.com/recipe/22180/waffles-i/">Source of recipe</a>
    <footer>
        <h2>Other recipies</h2>
        <ul>
            <li><img src="https://res.cloudinary.com/dn5oij7hb/image/upload/v1557347242/crabcakes-main.jpg" alt="Picture of a waffle"
                     width="250"/><a href="/crabcake">Crabcakes</a></li>
            <li><img src="https://res.cloudinary.com/dn5oij7hb/image/upload/v1557411942/Perfect-Pancakes.jpg" alt="Picture of a waffle"
                     width="250"/><a href="/pancakes">Pancakes</a></li>
            <li><img src="https://res.cloudinary.com/dn5oij7hb/image/upload/v1557416777/summer-vegetable-pesto-pasta.jpg" alt="Picture of a waffle"
                     width="250"/><a href="/veggiepestopasta">Veggie Pesto Pasta</a></li>
            <li><img src="https://res.cloudinary.com/dn5oij7hb/image/upload/v1557425204/Garlic-Herb-Butter-Roast-Chicken-1.jpg" alt="Picture of a waffle"
                     width="250"/><a href="/roastedchicken">Roasted Chicken</a></li>
        </ul>
    </footer>
</div>
</body>
</html>